<!DOCTYPE html>
<html>
  <head>
    <title>Movie Recommender</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "navigation">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Recently Watched', '/movies' %></li>

            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>

            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>

            <li id = "greet_user">Welcome <%= current_user.email %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>

            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    
    <div class = "content">
      <%= yield %>
    </div>

    <div class = "footer">
      <p>
        This page is maintained by Team IBeMma. <br>
        If there is a problem accessing this page, contact IBeMma.
      </p>
    </div>

  </body>
</html>
