<!DOCTYPE html>
<html>
  <head>
    <title>RailsChatTutorial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= render partial: 'shared/navigation_bar' %>
          <div class="my-3">
            <%= yield %>
          </div>
        </div>
    <header>
      <div class = "navigation">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', '/about' %></li>
          <li><%= link_to 'Movie Catalog', '/catalog' %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Recently Watched', '/movies' %></li>

            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>

            <li><%= link_to('Logout', destroy_user_session_path) %></li>

            <li id = "greet_user">Welcome <%= current_user.email %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>

            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </body>
</html>
